.card-wrapper{
	margin: 10px auto;
	width: 500px;
	border:1px solid #000;
}
.card-content{
	margin: 10px auto;
	width: 400px;
	border: 1px solid #4f3f3f;
	padding:10px ;
	overflow: hidden;
	text-align: center;
}